*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.Background_Body{width: 100%; height: 100%; background-color: rgb(255, 255, 255); position: fixed; z-index: 1; top: 0;}

.Element_Strukt-Sklad{position: absolute; bottom: 0;}

.Element_Strukt{background-color: aliceblue; border-top: 1px black solid; border-radius: 50%; position: absolute; ;}
.Background_Element_1_Strukt{width: 2400px; height: 800px; left: 350px; bottom: -470px;}
.Background_Element_2_Strukt{width: 1900px; height: 800px; left: -800px; bottom: -350px;}
.Background_Element_3_Strukt{width: 1200px; height: 800px; left: 300px; bottom: -400px;z-index: 2}
.Background_Element_4_Strukt{width: 1200px; height: 800px; left: -400px; bottom: -570px;z-index: 3}
.Background_Element_5_Strukt{width: 1100px; height: 800px; left: 1050px; bottom: -570px;}
.Background_Element_6_Strukt{width: 1300px; height: 800px; left: 1300px; bottom: -670px;}



.Kopiya_Xmar-1{width: 100%; height: 100%; position:absolute; left: -100%; z-index: 2;}
.Kopiya_Xmar-2{width: 100%; height: 100%; position:absolute; z-index: 1;}

.Xmar-Time-1{width: 100%; height: 100%;position:absolute;animation: Xmarka 80s linear infinite;}
.Xmar-Time-2{width: 100%; height: 100%;position:absolute;animation: Xmarka 90s linear infinite;}
.Xmar-Time-3{width: 100%; height: 100%;position:absolute;animation: Xmarka 100s linear infinite;}

.Element_Xmarka{background-color: aliceblue; border-bottom: 2px rgba(0, 0, 0, 0.66) solid; border-right: 1px rgba(0, 0, 0, 0.66) solid; border-radius: 50%; position: absolute;}
.Background_Element_1_Xmarka{width: 160px; height: 80px; top: 40px; left: 20px;}
.Background_Element_2_Xmarka{width: 120px; height: 80px; top: 170px; left: 150px;}
.Background_Element_3_Xmarka{width: 250px; height: 90px; top: 160px; left: 350px;}
.Background_Element_4_Xmarka{width: 160px; height: 90px; top: 210px; left: 70px;}
.Background_Element_5_Xmarka{width: 220px; height: 120px; top: 140px; left: -20px;}
.Background_Element_6_Xmarka{width: 140px; height: 110px; top: 30px; left: 260px;}
.Background_Element_7_Xmarka{width: 210px; height: 110px; top: 90px; left: 410px;}
.Background_Element_8_Xmarka{width: 160px; height: 90px; top: 270px; left: 860px;}
.Background_Element_9_Xmarka{width: 110px; height: 80px; top: 170px; left: 1060px;}
.Background_Element_10_Xmarka{width: 120px; height: 70px; top: 280px; left: 290px;}
.Background_Element_11_Xmarka{width: 140px; height: 90px; top: 120px; left: 540px;}
.Background_Element_12_Xmarka{width: 210px; height: 80px; top: 250px; left: 750px;}
.Background_Element_13_Xmarka{width: 190px; height: 110px; top: 210px; left: 930px;}
.Background_Element_14_Xmarka{width: 120px; height: 80px; top: 330px; left: 650px;}
.Background_Element_15_Xmarka{width: 180px; height: 110px; top: 190px; left: 650px;}
.Background_Element_16_Xmarka{width: 180px; height: 120px; top: 160px; left: 800px;}
.Background_Element_17_Xmarka{width: 80px; height: 50px; top: 90px; left: 750px;}
.Background_Element_18_Xmarka{width: 210px; height: 80px; top: 60px; left: 1100px;}
.Background_Element_19_Xmarka{width: 130px; height: 110px; top: 10px; left: 850px;}
.Background_Element_20_Xmarka{width: 110px; height: 50px; top: 230px; left: 1210px;}
.Background_Element_21_Xmarka{width: 210px; height: 80px; top: 10px; left: 1000px;}
.Background_Element_22_Xmarka{width: 140px; height: 60px; top: 260px; left: 1150px;}
.Background_Element_23_Xmarka{width: 330px; height: 150px; top: -70px; left: 450px;}
.Background_Element_24_Xmarka{width: 320px; height: 140px; top: 310px; left: 1250px;}
.Background_Element_25_Xmarka{width: 220px; height: 120px; top: 140px; left: 1300px;}
.Background_Element_26_Xmarka{width: 150px; height: 90px; top: 100px; left: 1460px;}
.Background_Element_27_Xmarka{width: 230px; height: 110px; top: 220px; left: 1730px;}
.Background_Element_28_Xmarka{width: 180px; height: 80px; top: 240px; left: 1650px;}
.Background_Element_29_Xmarka{width: 150px; height: 90px; top: 110px; left: 1850px;}
.Background_Element_30_Xmarka{width: 220px; height: 80px; top: 20px; left: 1650px;}
.Background_Element_31_Xmarka{width: 210px; height: 80px; top: 160px; left: 1450px;}
.Background_Element_32_Xmarka{width: 320px; height: 180px; top: -80px; left: 1280px;}
.Background_Element_33_Xmarka{width: 220px; height: 80px; top: 170px; left: 1750px;}
.Background_Element_34_Xmarka{width: 160px; height: 80px; top: -10px; left: 1780px;}
.Background_Element_35_Xmarka{width: 160px; height: 80px; top: 60px; left: 1610px;}


@keyframes Xmarka {
	0%{
		left: 0%;
	}
	100%{
		left: 100%
	}
}

.Ty_Ty{width: 100px; height: 100px; position: absolute; top: 0px; left: 0px;  z-index: 1; transform: rotate(3deg); animation: Ty-Ty 60s linear infinite;}

.Element_Ty_Ty{background-color: black; position: relative;}
.Element_Ty_Ty-1{width: 36px; height: 1px; top: 0; left: 0;}
.Element_Ty_Ty-2{width: 8px; height: 1px; top: 2px; left: -6px;transform: rotate(-45deg);}
.Element_Ty_Ty-3{width: 8px; height: 1px; top: 7px; left: -8px;transform: rotate(90deg);}
.Element_Ty_Ty-4{width: 4px; height: 1px; top: 11px; left: -5px;transform: rotate(45deg);}
.Element_Ty_Ty-5{width: 7px; height: 1px; top: 14px; left: -9px;transform: rotate(-45deg);}
.Element_Ty_Ty-6{width: 78px; height: 1px; top: 10px; left: -3px;}
.Element_Ty_Ty-7{width: 10px; height: 1px; top: 14px; left: -17px;}
.Element_Ty_Ty-8{width: 8px; height: 1px; top: 16px; left: -23px;transform: rotate(-45deg);}
.Element_Ty_Ty-9{width: 20px; height: 1px; top: 18px; left: -22px;transform: rotate(-0deg);}
.Element_Ty_Ty-10{width: 5px; height: 1px; top: -3px; left: -10px;}
.Element_Ty_Ty-11{width: 4px; height: 1px; top: -3px; left: -13px;transform: rotate(-45deg);}
.Element_Ty_Ty-12{width: 11px; height: 1px; top: 3px; left: -18px;transform: rotate(90deg);}
.Element_Ty_Ty-13{width: 9px; height: 1px; top: -17px; left: 2px;transform: rotate(90deg);}
.Element_Ty_Ty-14{width: 10px; height: 1px; top: -18px; left: 7px;transform: rotate(90deg);}
.Element_Ty_Ty-15{width: 6px; height: 1px; top: -24px; left: 6px;transform: rotate(0deg);}
.Element_Ty_Ty-16{width: 5px; height: 1px; top: -17px; left: 15px;transform: rotate(90deg);}
.Element_Ty_Ty-17{width: 5px; height: 1px; top: -18px; left: 20px;transform: rotate(90deg);}
.Element_Ty_Ty-18{width: 5px; height: 1px; top: -21px; left: 17px;transform: rotate(0deg);}
.Element_Ty_Ty-19{width: 5px; height: 1px; top: -20px; left: 26px;transform: rotate(90deg);}
.Element_Ty_Ty-20{width: 5px; height: 1px; top: -21px; left: 31px;transform: rotate(90deg);}
.Element_Ty_Ty-21{width: 5px; height: 1px; top: -24px; left: 28px;transform: rotate(0deg);}
.Element_Ty_Ty-22{width: 24px; height: 1px; top: -18px; left: 29px;transform: rotate(90deg);}
.Element_Ty_Ty-23{width: 24px; height: 1px; top: -19px; left: 46px;transform: rotate(90deg);}
.Element_Ty_Ty-24{width: 23px; height: 1px; top: -32px; left: 38px;transform: rotate(0deg);}
.Element_Ty_Ty-25{width: 17px; height: 1px; top: -18px; left: 58px;transform: rotate(0deg);}
.Element_Ty_Ty-26{width: 9px; height: 1px; top: -15px; left: 70px;transform: rotate(90deg);}
.Element_Ty_Ty-27{width: 11px; height: 1px; top: -5px; left: -8px;transform: rotate(90deg);}
.Element_Ty_Ty-28{width: 84px; height: 1px; top: -6px; left: -3px;transform: rotate(0deg);}
.Element_Ty_Ty-29{width: 17px; height: 1px; top: -21px; left: 28px;transform: rotate(90deg);}
.Element_Ty_Ty-31{width: 5px; height: 1px; top: -31px; left: 36px;transform: rotate(0deg);}
.Element_Ty_Ty-32{width: 19px; height: 1px; top: -42px; left: 40px;transform: rotate(0deg);}
.Element_Ty_Ty-33{width: 5px; height: 1px; top: -41px; left: 58px;transform: rotate(45deg);}
.Element_Ty_Ty-34{width: 5px; height: 1px; top: -42px; left: 36px;transform: rotate(-45deg);}
.Element_Ty_Ty-35{width: 21px; height: 1px; top: -29px; left: 33px;transform: rotate(90deg);}
.Element_Ty_Ty-36{width: 21px; height: 1px; top: -30px; left: 44px;transform: rotate(90deg);}
.Element_Ty_Ty-37{width: 12px; height: 1px; top: -41px; left: 43px;transform: rotate(0deg);}
.Element_Ty_Ty-38{width: 12px; height: 1px; top: -33px; left: 43px;transform: rotate(0deg);}
.Element_Ty_Ty-39{width: 5px; height: 1px; top: -21px; left: 73px;transform: rotate(30deg);}
.Element_Ty_Ty-40{width: 5px; height: 1px; top: -22px; left: 77px;transform: rotate(-30deg);}

.Element_Ty_Ty-41{width: 28px; height: 1px; top: -29px; left: 68px;transform: rotate(90deg);}
.Element_Ty_Ty-42{width: 28px; height: 1px; top: -29px; left: 134px;transform: rotate(90deg);}
.Element_Ty_Ty-43{width: 9px; height: 1px; top: -47px; left: 141px;transform: rotate(45deg);}
.Element_Ty_Ty-44{width: 9px; height: 1px; top: -48px; left: 80px;transform: rotate(-45deg);}
.Element_Ty_Ty-45{width: 56px; height: 1px; top: -52px; left: 87px;transform: rotate(0deg);}
.Element_Ty_Ty-46{width: 56px; height: 1px; top: -46px; left: 87px;transform: rotate(0deg);}
.Element_Ty_Ty-47{width: 11px; height: 1px; top: -44px; left: 88px;transform: rotate(0deg);}
.Element_Ty_Ty-48{width: 66px; height: 1px; top: -22px; left: 82px;transform: rotate(0deg);}
.Element_Ty_Ty-49{width: 11px; height: 1px; top: -25px; left: 88px;transform: rotate(0deg);}
.Element_Ty_Ty-51{width: 13px; height: 1px; top: -21px; left: 87px;transform: rotate(0deg);}
.Element_Ty_Ty-52{width: 7px; height: 1px; top: -25px; left: 96px;transform: rotate(75deg);}
.Element_Ty_Ty-53{width: 7px; height: 1px; top: -26px; left: 84px;transform: rotate(-75deg);}
.Element_Ty_Ty-54{width: 21px; height: 1px; top: -39px; left: 88px;transform: rotate(90deg);}
.Element_Ty_Ty-55{width: 21px; height: 1px; top: -40px; left: 78px;transform: rotate(90deg);}
.Element_Ty_Ty-56{width: 12px; height: 1px; top: -46px; left: 98px;transform: rotate(90deg);}
.Element_Ty_Ty-57{width: 12px; height: 1px; top: -47px; left: 135px;transform: rotate(90deg);}
.Element_Ty_Ty-58{width: 37px; height: 1px; top: -54px; left: 104px;transform: rotate(0deg);}
.Element_Ty_Ty-59{width: 37px; height: 1px; top: -43px; left: 104px;transform: rotate(0deg);}
.Element_Ty_Ty-60{width: 5px; height: 1px; top: -38px; left: 147px;transform: rotate(45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-61{width: 6px; height: 1px; top: -39px; left: 150px;transform: rotate(-45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-62{width: 7px; height: 1px; top: -35px; left: 148px;transform: rotate(0deg); background-color: rgba(240, 248, 255, 0);}

.Element_Ty_Ty-63{width: 28px; height: 1px; top: -50px; left: 141px;transform: rotate(90deg);}
.Element_Ty_Ty-64{width: 28px; height: 1px; top: -50px; left: 207px;transform: rotate(90deg);}
.Element_Ty_Ty-65{width: 9px; height: 1px; top: -68px; left: 214px;transform: rotate(45deg);}
.Element_Ty_Ty-66{width: 9px; height: 1px; top: -69px; left: 153px;transform: rotate(-45deg);}
.Element_Ty_Ty-67{width: 56px; height: 1px; top: -73px; left: 160px;transform: rotate(0deg);}
.Element_Ty_Ty-68{width: 56px; height: 1px; top: -67px; left: 160px;transform: rotate(0deg);}
.Element_Ty_Ty-69{width: 11px; height: 1px; top: -65px; left: 161px;transform: rotate(0deg);}
.Element_Ty_Ty-70{width: 11px; height: 1px; top: -45px; left: 161px;transform: rotate(0deg);}
.Element_Ty_Ty-71{width: 13px; height: 1px; top: -41px; left: 160px;transform: rotate(0deg);}
.Element_Ty_Ty-72{width: 7px; height: 1px; top: -45px; left: 169px;transform: rotate(75deg);}
.Element_Ty_Ty-73{width: 7px; height: 1px; top: -46px; left: 157px;transform: rotate(-75deg);}
.Element_Ty_Ty-74{width: 21px; height: 1px; top: -59px; left: 161px;transform: rotate(90deg);}
.Element_Ty_Ty-75{width: 21px; height: 1px; top: -60px; left: 151px;transform: rotate(90deg);}
.Element_Ty_Ty-76{width: 12px; height: 1px; top: -66px; left: 171px;transform: rotate(90deg);}
.Element_Ty_Ty-77{width: 12px; height: 1px; top: -67px; left: 208px;transform: rotate(90deg);}
.Element_Ty_Ty-78{width: 37px; height: 1px; top: -74px; left: 177px;transform: rotate(0deg);}
.Element_Ty_Ty-79{width: 37px; height: 1px; top: -63px; left: 177px;transform: rotate(0deg);}
.Element_Ty_Ty-80{width: 5px; height: 1px; top: -58px; left: 220px;transform: rotate(45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-81{width: 6px; height: 1px; top: -59px; left: 223px;transform: rotate(-45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-82{width: 6px; height: 1px; top: -55px; left: 221px;transform: rotate(0deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-83{width: 66px; height: 1px; top: -56px; left: 155px;transform: rotate(0deg);}

.Element_Ty_Ty-84{width: 28px; height: 1px; top: -70px; left: 214px;transform: rotate(90deg);}
.Element_Ty_Ty-85{width: 28px; height: 1px; top: -70px; left: 280px;transform: rotate(90deg);}
.Element_Ty_Ty-86{width: 9px; height: 1px; top: -89px; left: 287px;transform: rotate(45deg);}
.Element_Ty_Ty-87{width: 9px; height: 1px; top: -90px; left: 226px;transform: rotate(-45deg);}
.Element_Ty_Ty-88{width: 56px; height: 1px; top: -94px; left: 233px;transform: rotate(0deg);}
.Element_Ty_Ty-89{width: 56px; height: 1px; top: -88px; left: 233px;transform: rotate(0deg);}
.Element_Ty_Ty-80{width: 11px; height: 1px; top: -86px; left: 234px;transform: rotate(0deg);}
.Element_Ty_Ty-90{width: 11px; height: 1px; top: -65px; left: 234px;transform: rotate(0deg);}
.Element_Ty_Ty-91{width: 13px; height: 1px; top: -61px; left: 233px;transform: rotate(0deg);}
.Element_Ty_Ty-92{width: 7px; height: 1px; top: -65px; left: 242px;transform: rotate(75deg);}
.Element_Ty_Ty-93{width: 7px; height: 1px; top: -66px; left: 230px;transform: rotate(-75deg);}
.Element_Ty_Ty-94{width: 21px; height: 1px; top: -79px; left: 234px;transform: rotate(90deg);}
.Element_Ty_Ty-95{width: 21px; height: 1px; top: -80px; left: 224px;transform: rotate(90deg);}
.Element_Ty_Ty-96{width: 12px; height: 1px; top: -86px; left: 244px;transform: rotate(90deg);}
.Element_Ty_Ty-97{width: 12px; height: 1px; top: -87px; left: 281px;transform: rotate(90deg);}
.Element_Ty_Ty-98{width: 37px; height: 1px; top: -94px; left: 250px;transform: rotate(0deg);}
.Element_Ty_Ty-99{width: 37px; height: 1px; top: -83px; left: 250px;transform: rotate(0deg);}
.Element_Ty_Ty-100{width: 5px; height: 1px; top: -78px; left: 293px;transform: rotate(45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-101{width: 6px; height: 1px; top: -79px; left: 296px;transform: rotate(-45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-102{width: 6px; height: 1px; top: -75px; left: 294px;transform: rotate(0deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-103{width: 66px; height: 1px; top: -76px; left: 228px;transform: rotate(0deg);}
.Element_Ty_Ty-104{width: 5px; height: 1px; top: -82px; left: 220px;transform: rotate(45deg); background-color: rgba(240, 248, 255, 0);}
.Element_Ty_Ty-105{width: 11px; height: 1px; top: -100px; left: 234px;transform: rotate(0deg);}

.Sklad_Koles{position: absolute;}

.Koleso{width: 10px; height: 10px; position: absolute; animation: Koleso 2s linear infinite;}



.Koleso-1{ bottom: 12px; left: 0px;}
.Koleso-2{ bottom: 12px; left: 15px;}
.Koleso-3{ bottom: 12px; left: 30px;}
.Koleso-4{ bottom: 12px; left: 53px;}
.Koleso-5{ bottom: 12px; left: 67px;}
.Koleso-6{ bottom: 30px; left: 83px;}
.Koleso-7{ bottom: 30px; left: 96px;}
.Koleso-8{ bottom: 30px; left: 108px;}
.Koleso-9{ bottom: 30px; left: 122px;}
.Koleso-10{ bottom: 30px; left: 135px;}
.Koleso-11{ bottom: 51px; left: 157px;}
.Koleso-12{ bottom: 51px; left: 170px;}
.Koleso-13{ bottom: 51px; left: 183px;}
.Koleso-14{ bottom: 51px; left: 196px;}
.Koleso-15{ bottom: 51px; left: 209px;}
.Koleso-16{ bottom: 73px; left: 230px;}
.Koleso-17{ bottom: 73px; left: 243px;}
.Koleso-18{ bottom: 73px; left: 256px;}
.Koleso-19{ bottom: 73px; left: 269px;}
.Koleso-20{ bottom: 73px; left: 282px;}

.Koleso_Kolo-1{position: absolute; top: 0px; width: 10px; height: 10px; border: 1px black solid; border-radius: 50%;}
.Koleso_Kolo-2{position: relative; top: 2px; left: 2px; width: 6px; height: 6px; border: 1px black solid; border-radius: 50%; background-color: grey; z-index: 2;}

.Koleso_Loniya-1{width: 10px; height: 1px; background-color: black; position: absolute; top: 5px;}
.Koleso_Loniya-2{width: 10px; height: 1px; background-color: black; position: absolute; top: 5px; transform: rotate(60deg);}
.Koleso_Loniya-3{width: 10px; height: 1px; background-color: black; position: absolute; top: 5px; transform: rotate(120deg);}

@keyframes Koleso {
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(-360deg);
	}
}

.Ty-Ty-Vagon-Smok{position: absolute; top: -15px; left: 4px;}
.Smok-0{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: 3px; left: 0px; opacity: 0; animation: Smok-0 3s linear infinite;}
.Smok-1{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: -3px; left: 0px; opacity: 1; animation: Smok-1 3s linear infinite;}
.Smok-2{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: -15px; left: 5px; opacity: .9; animation: Smok-2 3s linear infinite;}
.Smok-3{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: -26px; left: 13px; opacity: .75; animation: Smok-3 3s linear infinite;}
.Smok-4{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: -36px; left: 23px; opacity: .6; animation: Smok-4 3s linear infinite;}
.Smok-5{width: 11px; height: 6px; background-color: gray; border-radius: 50%; position: absolute; top: -47px; left: 37px; opacity: .4; animation: Smok-5 3s linear infinite;}

@keyframes Smok-0 {
	0%{
		top: 3px; left: 0px;
		opacity: 0;
	}

	100%{
		top: -3px; left: 0px;
		opacity: 1 ;
	}
}

@keyframes Smok-1 {
	0%{
		top: -3px; left: 0px;
		opacity: 1;
	}

	100%{
		top: -15px; left: 5px;
		opacity: .9;
	}
}

@keyframes Smok-2 {
	0%{
		top: -15px; left: 5px;
		opacity: .9;
	}

	100%{
		top: -26px; left: 13px;
		opacity: .75;
	}
}

@keyframes Smok-3 {
	0%{
		top: -26px; left: 13px;
		opacity: .75;
	}

	100%{
		top: -36px; left: 23px;
		opacity: .6;
	}
}

@keyframes Smok-4 {
	0%{
		top: -36px; left: 23px;
		opacity: .6;
	}

	100%{
		top: -47px; left: 37px;
		opacity: .4;
	}
}

@keyframes Smok-5 {
	0%{
		top: -47px; left: 37px;
		opacity: .4;
	}

	100%{
		top: -59px; left: 54px;
		opacity: 0;
	}
}


@keyframes Ty-Ty {
	0%{
		top: 700px; left: 1980px; 
	}

	100%{
		top: 638px; left: 980px;
	}
}

.ZD{position: absolute; z-index: 4; left: 1366px; top: 707px;}

.ZD-1{width: 700px; height: 2px; background-color: black; transform: rotate(3.5deg);}








































