*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.HeaderBox{width: 100%;display: flex;align-items: center;justify-content: center; position: absolute; background-color: aliceblue; position: fixed; z-index: 2; box-shadow: 0.1px 0.1px 0.5px 0.5px  rgba(0, 0, 0, 0.096)}
.HeaderGran{width: 1108px; height: 47px; position: relative; left: -3px; position: relative; top: -47.2%; left: -1px; }

.VKe{width: 178px; height: 47px;}

.MIMessage{position: fixed; bottom: 0; right: 25px; width: 52px; height: 38px;box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199)}
.TDVL{}
.MINIMessage{}

.Box{width: 100%;display: flex;align-items: center;justify-content: center; position: relative; top: 65px; left: -0px; z-index: 1;}
.Gran{width: 1075px; height: 100%;position: relative; left: -3px;}
.Levo{width: 192px; position: absolute; left: -25px; top: -2px;}
.Menu{width: 164px; height: 600px;}

.M{width:160px; height: 30px; margin: 0 0 0 21px; }
.Text{ height: 100%; width: 100px;;font-size: 14px; padding: 5px 0; margin:5px 0 0 36px; position: relative; top: -50%;}
.Prodel{width:118px; height: 2px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199); margin: 8px; position: relative; left: 49px;}

.MiniFooter{width: 164px; height: 67px;}

.Osnova{width: 914px; height: 100%; position:absolute; left: 169px;}
.Head{width: 911px; height: 401px; border-radius: 10px; margin: 0 0 16px 0; position: relative; left: -1px;}

.Fon{ position: absolute; top: 0; left: 0; width: 909px; height: 283px; border-radius: 10px 10px 0 0; background-image: url(../IMG/Fon.jpg); background-size: cover}
.Zmin{width: 184px; height: 33px; position: absolute; top: 20px; right: 20px; background-color: rgba(0, 0, 0, 0.199);}

.Avatar{width: 158px; height: 158px; position: absolute; left: 15px; top: 199px; border-radius: 50%; background-color: aliceblue;}
.aVA{width: 150px; height: 150px; background-image: url(../IMG/aVA.jpg); background-size: cover; border-radius: 50%; margin: 4px; position: relative; z-index: 3;}
.BC{width: 20px; height: 20px; position: absolute; left: 118px; top: 118px; border-radius: 50%; background-color: aliceblue;display: flex;align-items: center;justify-content: center;}
.ZC{width: 13px; height: 13px; position: relative; top: -1%; left: -1%; border-radius: 50%; background-color: rgb(0, 168, 22);}

.Face{width: 909px; height: 123px; position: relative; top: 277px; }
.LeCub{width: 123px; height: 123px; position: absolute; left: 0; top: 0; border-radius:10px 0 0 10px;background-color: rgb(255, 255, 255); box-shadow: 0.01px 0px 0px 0.5px  rgba(0, 0, 0, 0.3);}
.PrCub{width: 183px; height: 123px; position: absolute; right: 0; top: 0; border-radius:0 10px 10px 0;background-color: rgb(255, 255, 255);box-shadow: 0.5px 0.5px 0px 0px  rgba(0, 0, 0, 0.3);}

.MinInf{width:604px; height: 123px; position: relative; right: -123px; background-color: rgb(255, 255, 255); box-shadow: 0.1px 0.5px 0px 0px  rgba(0, 0, 0, 0.3); z-index: 2;}
.Name{font-size: 22px; padding:22px 0 0 64px;}
.Statys{font-size: 14px; padding:10px 0 0 64px;}
.PInf{width: 350px; height: 26px; position: relative; left: 65px; top: 8px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199);}


.Perehrestya{width: 914px;}
.You{width: 552px; height: 1200px; position: absolute; left: -1px;}
.FKMS{width: 548px; height: 291px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199); border-radius: 10px;margin: 0 0 17px 0;}

.ScladCnopoc{width:100%; height: 43px; display: flex;align-items:flex-end;}
.CnopkaF{width: 75px; height: 27px; border: 1px black solid; border-radius: 8px; margin: 0 6px 0 19px;}
.CnopkaM{width: 92px; height: 27px; border: 1px black solid; border-radius: 8px;}
.CnopkaFText{font-size: 15px;padding: 4px 0 0 33px;}
.CnopkaMText{font-size: 15px; padding: 4px 0 0 33px;}
.HeartF{width:100%; height: 181px; position: relative; }
.HeartM{}

.Foto1{width:168px; height: 168px; margin: 17px 19px; border-radius: 8px; background-image: url(../IMG/aVA.jpg);background-size: cover}
.PokaVsi{width: 510px; height: 32px; background-color: rgba(145, 164, 252, 0.26); border-radius: 8px; margin: 0 0 0 19px;}





.Nows{width: 548px; height: 52px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199); border-radius: 10px;margin: 0 0 13px 0;}
.NowsV{width: 548px; height: 47px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.299); border-radius: 10px 10px 0 0;}
.NowsS{width: 548px; height: 833px; box-shadow: 0.1px 0.1px 0px 0.5px  rgba(0, 0, 0, 0.299);}

.Pravo{width: 355px; height: 1200px; position: absolute; right: -6px;}
.Pr{position:sticky; top:65px;}

.VK16I{width: 343px; height: 58px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.2); margin: 0 0 18px 0; border-radius: 10px;}
.VK16IText{font-size: 15px; color:rgb(93, 41, 190); padding: 7px 0 0 55px;}
.Strelca{width: 7px;  box-shadow:0.1px 0.1px 0.9px 0.9px rgba(128, 128, 128, 0.603); position: absolute; right: 38px; transform: rotate(45deg); top: 26px;}
.Strelca2{width: 7px;  box-shadow:0.1px 0.1px 0.9px 0.9px rgba(128, 128, 128, 0.603); position: absolute; right: 38px; transform: rotate(-45deg); top: 32px;}
.FrendI{width: 343px; height: 252px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.2);margin: 0 0 18px 0;border-radius: 10px; }
.FrName{width: 343px; height: 50px; font-size: 16px; padding: 18px 0 0 18px;color: #000;}
.IdFr{width: 343px; height: 202px;display: flex;align-items: center;justify-content: center;}

.NameAva{width: 100%; height: 100%; display: flex;align-items: center;justify-content: center; position: relative; top: -30px; color: #000;}
.CenterAvaName{font-size: 13px;}

.IdAva{width: 64px; height: 64px; border-radius: 50%; overflow: hidden; display: flex;align-items: center;justify-content: center;}
.Plyus{width: 125%; height: 125%; border-radius: 50%; }

.Podarynoc{width: 343px; height: 168px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199);margin: 0 0 18px 0;border-radius: 10px;}
.PodName{width: 343px; height: 50px; font-size: 16px; padding: 18px 0 0 18px;color: #000;}
.IdPod{width: 343px; height: 118px;display: flex;align-items: center;justify-content: center;}

.Pidpusca{width: 343px; height: 120px; box-shadow: 0.1px 0.1px 1px 1px  rgba(0, 0, 0, 0.199);border-radius: 10px;}
.PidName{width: 343px; height: 50px; font-size: 16px; padding: 18px 0 0 18px;color: #000;}
.IdPid{width: 343px; height: 70px;display: flex;align-items: center;justify-content: center;}

.AvaG{width: 48px; height: 48px; border-radius: 50%; overflow: hidden; position: absolute; left: 2px;}
.PlyusG{width: 75px; height: 75px;border-radius: 50%; position: relative; top: -25px; left: -13px;background-image: url(../IMG/GAva.jpg); background-size: cover; background-position: center center;}

.GPinfo{width: 185px; height: 45px; }
.NameGP{width: 100%; height: 23px;  color: #000; padding: 6px 0 0 0;font-size: 14px;}
.PNameGP{width: 100%; height: 22px;  color: #000;padding: 3px 0 0 0; font-size: 12px;}

.IDG1{width: 343px; height: 101px; }
.IDG2{width: 343px; height: 101px; position: relative; top: -8px; left: -2px;}

.IDid1{width: 65px; height: 82px; position: absolute; margin: 9px 19px; overflow: hidden;}
.IDid2{width: 98px; height: 93px; position: absolute; border-radius: 15px;display: flex;align-items: center;justify-content: center;}
.IDid3{width: 310px; height: 49px;position: relative; top: -8px; display: flex;align-items: center;justify-content: center;}

.ms11{left: 0px;}
.ms21{left: 80px;}
.ms31{left: 160px;}
.ms41{left: 240px;}

.ms12{left: 20px;}
.ms22{left: 124px;}
.ms32{left: 228px;}

.Ver{top: 120px;}
.Nu{top: 216px;}

.P1{background-image: url(../IMG/P1.jpg); background-size: cover; background-position: center center; width: 81.6%; height: 81.6%;}
.P2{background-image: url(../IMG/P2.jpg); background-size: cover; background-position: center center; width: 81.6%; height: 81.6%;}

.id1{background-image: url(../IMG/id1.jpg); background-size: cover;background-position: center center;}
.id2{background-image: url(../IMG/id2.jpg); background-size: cover;background-position: center center;}
.id3{background-image: url(../IMG/id3.jpg); background-size: cover;background-position: center center;}
.id4{background-image: url(../IMG/id4.jpg); background-size: cover;background-position: center center;}
.id5{background-image: url(../IMG/id5.jpg); background-size: cover;background-position: center center;}
.id6{background-image: url(../IMG/id6.jpg); background-size: cover;background-position: center center;}
.id7{background-image: url(../IMG/id7.jpg); background-size: cover;background-position: center center;}
.id8{background-image: url(../IMG/id8.jpg); background-size: cover;background-position: center center; }