.ShadowBox{width: 100%; height: 100%; z-index:3;position: absolute;}

.Shadow0{background-color: rgba(0, 0, 0, 0.2); position: absolute;}
.Shadow1{ box-shadow: 0 0 150px rgb(0, 0, 0);border-radius:50% ;background-color: rgba(0, 0, 0, .5); position: absolute;}
.Shadow2{ box-shadow: 0 0 150px rgb(0, 0, 0);border-radius:50% ;background-color: rgba(0, 0, 0, 0.45); position: absolute; width:80%; height: 80%; }
.Shadow3{ box-shadow: 0 0 99px rgb(0, 0, 0);border-radius:50% ;background-color: rgba(0, 0, 0, 0.4); position: absolute;}

.Shadow1P1{ box-shadow: 0 0 100px rgb(0, 0, 0); border-radius:50% ;background-color: rgba(0, 0, 0, 0.4); position: absolute; width:50%; height: 50%;}
.Shadow2P1{ box-shadow: 0 0 100px rgb(0, 0, 0); border-radius:50% ;background-color: rgba(0, 0, 0, 0.5); position: absolute;}

.Shadow2P2{ box-shadow: 0 0 50px rgb(0, 0, 0);border-radius:50% ;background-color: rgba(0, 0, 0, .5); position: absolute;}



.ShaID0{width:100%; height:8%; left:0; top: 0;}


.ShaID1{width:100%; height: 33%; left:0; top: 0;}
.ShaID2{width:100%; height: 33%; left:0; bottom: 0;}
.ShaID3{width:33%; height: 100%; left:0; bottom: 0;}
.ShaID4{width:33%; height: 100%; right:0; bottom: 0;}

.ShaID14{width:100%; height: 25%; left:0; top: 0;}
.ShaID15{width:100%; height: 25%; left:0; bottom: 0;}
.ShaID16{width:25%; height: 100%; left:0; bottom: 0;}
.ShaID17{width:25%; height: 100%; right:0; bottom: 0;}

.ShaID22{width:100%; height: 15%; left:0; top: 0;}
.ShaID23{width:100%; height: 15%; left:0; bottom: 0;}
.ShaID24{width:15%; height: 100%; left:0; bottom: 0;}
.ShaID25{width:15%; height: 100%; right:0; bottom: 0;}


.ShaID5{ right:-30%; bottom: -30%;}
.ShaID6{ left:-30%; bottom: -30%;}
.ShaID7{ right:-30%; top: -30%;}
.ShaID8{ left:-30%; top: -30%;}

.ShaID10{ right:-12.5%; bottom: -12.5%;}
.ShaID11{ left: -12.5%; bottom: -12.5%;}
.ShaID12{ right:-12.5%; top: -12.5%;}
.ShaID13{ left:-12.5%; top: -12.5%;}


.ShaID9{width:40%; height: 40%; box-shadow: 0 0 99px rgb(0, 0, 0, 0.8); left:30%; top: 30%;}







.Shadow0.Act{background-color: rgba(0, 0, 0, 0.0);}
.Shadow1.Act{background-color: rgba(0, 0, 0, 0.2);box-shadow: 0 0 99px rgba(0, 0, 0, 0.66);}
.Shadow2.Act{background-color: rgba(0, 0, 0, 0.3);box-shadow: 0 0 99px rgb(0, 0, 0, 0.66);}
.Shadow3.Act{background-color: rgba(0, 0, 0, 0.0);box-shadow: 0 0 0px rgb(0, 0, 0, 0.66);}

.Shadow1P1.Act{background-color: rgba(0, 0, 0, 0.3);box-shadow: 0 0 66px rgb(0, 0, 0, 0.66);}
.Shadow2P1.Act{background-color: rgba(0, 0, 0, 0.4);box-shadow: 0 0 66px rgb(0, 0, 0, 0.66);}

.Shadow2P2.Act{background-color: rgba(0, 0, 0, .4);box-shadow: 0 0 33px rgb(0, 0, 0, 0.66);}





































































